@media only screen and (min-width:920px) and (max-width:1170px){
    .heading{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
    .image_container img{
        width: 150px;
        height: 150px;
    }
    .heading h1{
        font-size: 20px;
        font-weight: bold;
    }
    .heading h3{
        font-size: 15px;
    }
    .subject{
        margin: 25px auto;
        padding: 20px;
        margin-bottom: 10px;
    }
    .subject h2{
        font-size: 20px;
        text-align: center;
        margin-bottom: 20px;
    }
    .intro{
        font-size: 15px;
        letter-spacing: 1px;
        text-align: justify;
    }
    .biography{
        margin: 20px auto;
    }
    .biography h3{
        font-size: 20px;
        text-align: center;
        margin-bottom: 20px;
    }
    .biography ul{
        margin-left: 32px;
    }
    .biography li{
        margin-bottom: 20px;
        font-size: 15px;
    }
    footer{
        background-color: rgb(138, 135, 135);
        color: white;
        padding: 15px;
    }
    footer p{
        font-size: 12px;
        text-align: center;
    }
}
@media only screen and (min-width:743px) and (max-width:919px){
    .container{
        min-height: 100vh;
        background-color: rgb(200, 216, 247);
        border: 8px solid black;
    }
    .heading{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
    .image_container img{
        width: 100px;
        height: 100px;
    }
    .heading h1{
        font-size: 15px;
        font-weight: bold;
    }
    .heading h3{
        font-size: 10px;
    }
    .subject{
        margin: 20px auto;
        padding: 15px;
    }
    .subject h2{
        font-size: 15px;
        text-align: center;
        margin-bottom: 15px;
    }
    .intro{
        font-size: 10px;
        letter-spacing: 1px;
        text-align: justify;
    }
    .biography{
        margin: 20px auto;
    }
    .biography h3{
        font-size: 15px;
        text-align: center;
        margin-bottom: 20px;
    }
    .biography ul{
        margin-left: 32px;
    }
    .biography li{
        margin-bottom: 20px;
        font-size: 10px;
    }
    footer{
        background-color: rgb(138, 135, 135);
        color: white;
        padding: 15px;
    }
    footer p{
        font-size: 8px;
        text-align: center;
    }
}
@media only screen and (min-width:546px) and (max-width:742px){
    .container{
        min-height: 98vh;
        background-color: rgb(200, 216, 247);
        border: 8px solid black;
    }
    .heading{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
    .image_container img{
        width: 60px;
        height: 60px;
    }
    .heading h1{
        font-size: 12px;
        font-weight: bold;
    }
    .heading h3{
        font-size: 8px;
    }
    .subject{
        margin: 15px auto;
        padding: 10px;
    }
    .subject h2{
        font-size: 10px;
        text-align: center;
        margin-bottom: 10px;
    }
    .intro{
        font-size: 8px;
        letter-spacing: 1px;
        text-align: justify;
      }
    .biography{
        margin: 15px auto;
    }
    .biography h3{
        font-size: 12px;
        text-align: center;
        margin-bottom: 15px;
    }
    .biography ul{
        margin-left: 32px;
    }
    .biography li{
        margin-bottom: 10px;
        font-size: 8px;
    }
    footer{
        background-color: rgb(138, 135, 135);
        color: white;
        padding: 15px;
    }
    footer p{
        font-size: 6px;
        text-align: center;
    }
}
@media only screen and (max-width:545px){
    .heading{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
    .image_container img{
        width: 40px;
        height: 40px;
    }
    .heading h1{
        font-size: 10px;
        font-weight: bold;
    }
    .heading h3{
        font-size: 6px;
    }
    .subject{
        margin: 25px auto;
        padding: 10px;
    }
    .subject h2{
        font-size: 10px;
        text-align: center;
        margin-bottom: 10px;
    }
    .intro{
        font-size: 8px;
        letter-spacing: 1px;
        text-align: justify;
      }
    .biography{
        margin: 10px auto;
    }
    }
    .biography h3{
        font-size: 12px;
        text-align: center;
        margin-bottom: 18px;
    }
    .biography ul{
        margin-left: 19px;
    }
    .biography li{
        margin-bottom: 10px;
        font-size: 8px;
    }
    footer{
        background-color: rgb(138, 135, 135);
        color: white;
        padding: 8px;
    }
    footer p{
        font-size: 6px;
        text-align: center;
    }